@font-face {
    font-family: 'gilroyblack';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Estilachos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --grisTexto: #979797;

}
ul {
    list-style: none;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

body {
    font-family: 'gilroyregular';
}

/*****   container-body    ****/
.container-body {
    background-color: #C52D37;
}
.container-app {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.left-sidebar {
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
}
.left-sidebar .logo img{
    width: 120px;
}
.left-sidebar .logo {
    display: block;
    text-align: center;
}
.navbar {
    margin-top: 45px;
    font-size: 1.5rem;
}
.navbar a {
    display: block;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--grisTexto);
    
}
.navbar i {
    margin-right: 10px;
}
.navbar ul {
    display: none;
}
.navbar .activa {
    background-color: #EA424D;
    color: white;
}

.creditos {
    text-align: center;
}
/*******  Mid container ***/
.mid-container {
    width: 100%;
    display: block;
    padding: 35px 30px 0 30px;
    background: rgba(255,255,255,.9);
}

.main-search {
    margin-bottom: 30px;
}

.main-search input {
    width: 100%;
    color: var(--grisTexto);
    border-radius: 7px;
    padding: 12px;
    text-align: center;
    border: none;
    border: solid 2px #fff;
    transition: .2s all;
}

.main-search input:focus {
    outline: none;
    border-color: #C52D37;
}

.main-search input::-webkit-input-placeholder {
    font-family: "Font Awesome 5 Free", 'gilroyregular';
    font-weight: 900;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: var(--grisTexto);
}

.main-items {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    color: var(--grisTexto);
    background: #fff;
    font-size: 1.3rem;
    overflow: hidden;
}

.item-inbox.active {
    background: #EA424D;
    color: #fff;
}

.item-inbox {
    flex:1;
    text-align: center;
    padding: 10px 15px;
    color: var(--grisTexto);
}

.item-inbox i {
    margin-right: 15px;
}

.messages {
    height: 100%;
    overflow-y: scroll;
}

.item-destacado {
    margin-right: 10px;
}
.item-destacado i {
    margin-right: 7px;
}
.main-mensages {
    display: flex;
    background: #fff;
    border: solid .5px rgba(255,255,255. 4);
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s all;
    font-size: 1.3rem;
}

.main-mensages:hover {
    transform: translateY(-5px);
}

.user {
    width: 30px;
    border-radius: 50%;
}
.img-user {
    display: flex;
    align-items: center;
    flex: 1 1 0px;
}

.ml-5 {
    margin-right: 10px;
}

.fa-circle {
    color: #EA424D;
}

.mensager-text h3 {
 margin-right: 15px;
}

.mensager-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 7 1 auto;
}

.mensager-text p {
    opacity: .6;
}

.right-container {
    display: none;
}
.main-items .social:hover {
    background-color: #4285F4;
    color: white;
    transition: .6s;
}
.main-items .social:focus {
    background-color: #4285F4;
    color: white;
}

.main-items .promociones:hover {
    background-color: #34A853;
    color: white;
    transition: .6s;
}
.main-items .promociones:focus {
    background-color: #34A853;
    color: white;
}